* {
	font-family: 'Avenir Next', Gotham, Poppins, Helvetica;
}
header{
	position: fixed;
	width: 100%;
	z-index: 20;
	border-bottom: 1px solid #f3f3f3;
}
.destination {
	padding: 25px 0 50px;
}
.input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
[type=text], [type=password], [type=date], [type=datetime], [type=datetime-local], [type=month], [type=week], [type=email], [type=tel], [type=time], [type=url], [type=color], [type=number], [type=search], textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    padding: .5rem;
    border: none;
    margin: 0 0 1rem;
    font-family: inherit;
    font-size: 1rem;
    color: #8a8a8a;
    background-color: #ebecee;
    box-shadow: none;
    border-radius: 0;
    transition: box-shadow .5s,border-color .25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
	
}
textarea {
	resize: none !important;
}
textarea:focus {
    width: 100%;
	box-shadow: none;
	border: none;
	background-color: #ebecee;
}
.review--by--post {
	border-radius: 50px;
    background-color: #a2db68;
    padding: 1.5% 0%;
    width: 6%;
    min-width: 100px;
    font-size: 1.2em;
    white-space: nowrap;
    font-weight: bold;
    text-align: center;
    margin-top: -3%;
    color: #ffffff;
	border: none;
	float: right;
}
input[type=text]:focus {
    width: 100%;
	box-shadow: none;
	border: none;
}
#destination-search {
	background-color: #ffffff;
}
.top-bar, .top-bar ul {
	background-color: #ffffff;
	padding: 5px;
}
.top-bar input {
    width: 600px !important;
    margin-right: 1rem;
	margin-top: .4rem;
}
.top-bar img {
	margin-right: 5px;
}
.menu > li > a {
    display: block;
    padding: .3rem 2.5rem 0 1rem;
    line-height: 1;
}
/*
.top-bar-right .menu li:first-child {
    padding-top: .3rem;
}
*/
.menu input {
    margin-bottom: 0;
    border: none;
}
.menu-text {
    color: inherit;
    line-height: 1;
    padding: .4rem 1rem;
}
.menu-text a {
	color: #687482;
	font-size: 2.4em;
}
.top-bar-right {
    padding-top: 16px;
}
#search-results {
	background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 55px;
    width: 599px;
    z-index: 10;
    left: 200px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
/*	border-top: 2px solid #a2db68;*/
}
#search-results hr {
	margin-top: -0.1px;
}
.search--results--li {
	padding:5px 30px;
	opacity: 1; 
	font-size:1.1em;
	margin: 5px 0;
}
.search--results--li--heading {
	color: #a3abb4;
	padding: 10px 30px; 
	opacity: 1; 
	font-size: 1.2em;
	font-weight: bold;
}
.search--results--ul {
	background-color: rgba(255, 255, 255, 1);
	margin-left: 0px !important;
}
.search--results--li {
	color: #687482;
	background-color: #ffffff;
}
.search--results--li:hover {
	color: #ffffff;
	background-color: #a2db68;
}
.search--results--li {
	color: #687482;
	padding-top: 5px;
}
.bold--research--text {
	font-weight: bold;
}
.hp--primary--container {
	position: relative;
}
.hp--primary--gradient--bkgd--orange {
	text-align: left;
	background-image: linear-gradient(to bottom, #fbda61, #f76b1c);
}
.hp--primary--gradient--bkgd--orange > div.primary--text--container {
	padding: 7% 3.5% 4%;
}
.hp--primary--gradient--bkgd--purple {
	text-align: left;
	background-image: linear-gradient(95deg, #29207c, #c96dd8);
}
.hp--primary--gradient--bkgd--purple > div.primary--text--container {
	padding: 7% 3.5% 4%;
	margin-top: -12.5%;
}
.primary--text--container {
	color: #ffffff;
}
.primary--text--container p {
	font-size: 2vw;
}
.secondary--text--container {
	margin-top: -20%;
	margin-bottom: 15.5%;
}
.secondary--text--container p {
	font-size: 1.5vw;
	color: #687482;
	font-weight: bold;
	margin-left: 50%;
}
.svg--img--container {
	position: relative;
	text-align: right;
}
.svg--img--container img {
	width: 60%;
    margin-top: -17%;
    height: auto;
}
.svg--img--container2 {
	position: relative;
	text-align:  left;
	margin-top: 6%;
}
.svg--img--container2 img {
	width: 60%;
    margin-top: 0%;
    height: auto;
}
.activity--box--container {
	margin-left: 50%;
	margin-top: 2.5%;
}
.activity--box {
	display: inline;
	border-radius: 1px;
  	background-color: #57dec0;
	padding: 1.5% 2%;
	margin-right: 2%;
	color: #ffffff;
	font-weight: bold;
	font-size: 1vw;
}
.secondary--text--message {
	font-size: 1.2vw !important;
	line-height: 1.4em;
	font-weight: normal;
	margin-top: 3%;
}
.hello--message--container {
	padding: 5%;
	background-image: linear-gradient(to top, #206cdf, #32b4f5);
	color: #ffffff;
	text-align: center;
	width: 75%;
	margin: auto;
}
.hello--message--container h4, h6 {
	font-weight: bold;
}
.hello--message--container  h6 {
	margin-top: 3%;
}
.text-center > h4 {
	padding-top: 5%;
	padding-bottom: 2%;
	color: #687482;
	font-weight: bold;
}
img.thumbnail {
    border: none;
    box-shadow: none;
    display: inline-block;
    line-height: 0;
    max-width: 100%;
	max-height: 240px;
    transition: box-shadow .2s ease-out;
    border-radius: 0;
    margin-bottom: 1rem;
}
.top--destinations--row {
	margin-bottom: 5%;
}
.top--destinations--row a{
	color: #687482;
	font-weight: bold;
}
.text-center img {
	width: 60%;
}
.hello--contact-button {
	border-radius: 50px;
  	background-color: #a2db68;
	padding: 1% 2%;
	width: 12%;
	min-width: 130px;
	font-size: 0.8em;
	white-space: nowrap;
	font-weight: bold;
	text-align: center;
	margin: 5% auto -2%;
	color: #ffffff;
}

/*login*/
.login--leftblock {
	width: 50%;
	background-image: linear-gradient(to bottom, #f5515f, #9f031b);
	float: left;
	padding: 15% 2% 40% 6%;
	color: #ffffff;
	height: 100%;
}
.login--leftblock img {
	max-width: none !important;
}
.login--leftblock h1 {
	font-size: 4.5em;
	font-weight: bold;
	font-family: Gotham;
}
.login--leftblock p:nth-child(3) {
	font-size: 0.8em;
	font-weight: bold;
}
.login--rightblock {
	width: 50%;
	float: right;
	padding: 15%;
}
.login--rightblock h1 {
	font-size: 1.5em;
	font-weight: bold;
	font-family: Gotham;
	color: #687482;
}
.position--absolute--leftblock {
	position:absolute;
	top: 1%;
	margin-left: 27%;
	cursor: pointer;
}

/*register*/
.register--leftblock {
	width: 50%;
	background-image: linear-gradient(142deg, #3023ae, #c96dd8);
	float: left;
	padding: 15% 2% 50% 6%;
	color: #ffffff;
	height: 100%;
}
.register--leftblock h1 {
	font-size: 4.5em;
	font-weight: bold;
	font-family: Gotham;
}
.register--leftblock p:nth-child(3) {
	font-size: 0.8em;
	font-weight: bold;
}
.register--rightblock {
	width: 50%;
	float: right;
	padding: 10% 10% 15% 10%;
}
.register--rightblock h1 {
	font-size: 1.5em;
	font-weight: bold;
	font-family: Gotham;
	color: #687482;
}
.position--absolute--rightblock {
	position:absolute;
	top: 1%;
	margin-left: 32%;
	cursor: pointer;
}

/*pages*/
.content--wrapper {
	margin-top: 5%;
}

/*muni*/
.muni--detail--top--box {
	background-color:  #ebecee !important;
}

/*footer styles*/
.callout {
    margin: 0;
    padding: 1rem;
    border: 1px solid rgba(10,10,10,.25);
    border-radius: 0;
    position: relative;
}
.callout.secondary {
    background-color: #687482;
}
.footer--text {
	color: #ffffff;
}
.footer--text h4{
	font-weight: bold;
}
.footer--column {
	color: #ffffff;
}
.footer--column .menu a {
	color: #ffffff;
}
.footer--column .menu h6 {
	color: #ffffff;
}
.footer--column .menu h6 {
	padding-left: 16px;
	font-weight: bold;
}
.last--h6 {
	padding-left: 0px !important;
}
.menu.vertical>li>a {
    display: block;
    padding: .3rem 1rem;
    line-height: 1;
}
.email--subscribe--button {
	border-radius: 50px;
  	background-color: #a2db68;
	padding: 2% 2%;
	width: 12%;
	min-width: 130px;
	font-size: 0.8em;
	white-space: nowrap;
	font-weight: bold;
	text-align: center;
	margin-top: 5%;
	color: #ffffff;
}

/*destination page styles*/
.destination-slides img {
	padding-right: 0.5%;
}
.destination--slides--modal {
	margin: auto;
	width: 75%;
}
.row-destination {
	margin-top: 5%;
}
.name--structure {
	color: #a2db68;
	font-size: 1em;
	font-weight: bold;
}
.destination--name--heading {
	margin-top: 2%;
	font-weight: bold;
	color: #687482;
}
.map {
	height: 350px;
	width: 100%;
	background-color: #eee;
	margin-bottom: 5%;
}
.address {
	color: #687482;
}
.posted--by {
	font-size: 0.8em;
	color: #687482;
	font-weight: bold;
	margin-bottom: -2px;
}
.posted--by--name {
	font-size: 1em;
	color: #687482;
	font-weight: normal;
}
.description {
	font-size:1.2em; 
	padding-top:3%;
	color: #687482;
}
h6.destination--sub-heading {
	padding-top: 10px;
	color: #687482 !important; 
}


/*province page styles*/
.province--bg, .province--heading, .province--heading h2,  .province--heading p, .destination h5, #province--info h5 {
	position: relative;
	font-family: Gotham, Poppins, Helvetica;
}
.province--primary {
	position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.province--bg img {
	width: 100%;
}
.province--heading h2 {
	color: #ffffff !important;
	margin: 10% 40%;
	width: 100%;
}
.province--heading p {
	color: #ffffff !important;
	margin: 10% 3%;
	font-weight: bold;
}
.overlay {
	top: 50%;
    background: rgba(0, 0, 0, .25);
    width: 100%;
    height: 100%;
}
#province--info {
	padding-top: 2.5%;
}
.muni--section {
	margin: 5%;
}
.province--box {
	border: 0.5px solid #dadcde;
	padding: 2% 4% 0% 4%;
}
.province--box a {
	color: #687482;
	font-weight: bold;
}
.province--box p a, .province--box p {
	color: #93d756;
	font-weight: bold;
}
.province--muni--heading h1 {
	font-family: Gotham, Poppins, Helvetica;
	color: #687482;
	font-weight: bold;
}

/*reviews*/
.added--by {
	font-size: 1em;
	color: #687482;
	font-weight: bold;
	margin-bottom: -2px;
}
.added--by--submit, .added--by--submit a {
    font-size: 1em;
    color: #687482;
    font-weight: bold;
    padding: 0 5%;
    margin-bottom: 0px;
    margin-top: -5.5%;
}
.review-container {
	margin-top: 2%;
	font-family: Gotham, Poppins, Helvetica;
}
.review-container span{
	font-family: Gotham, Poppins, Helvetica;
	font-size: 1.2em;
	font-weight: bold;
	color: #687482;
}
.review--date--pub {
	margin-top: -2%;
}
.review--text {
	margin-top: 2%;
	font-size: 1.3em;
}
.review--profile-location, .review--date--pub, .review--text{
	padding: 0 9.5%;
}

.coords {
	visibility: hidden;
}
.sub-heading--box--container {
	width: 350px;
	background-color: #f1f3f5;
	padding: 2% 5% 2% 5%;
	margin-bottom: 5%;
}
.activities-value {
	visibility: hidden;
}
.features-value {
	visibility: hidden;
}
.misc-value {
	visibility: hidden;
}
.activity--box--destination--activities {
	display: inline-block;
	border-radius: 1px;
  	background-color: #57dec0;
	padding: 1.5% 2%;
	margin-right: 2%;
	color: #ffffff;
	font-weight: bold;
	font-size: 1vw;
	margin-bottom: 2%;
}
.activity--box--destination--features {
	display: inline-block;
	border-radius: 1px;
  	background-color: #9059c1;
	padding: 1.5% 2%;
	margin-right: 2%;
	color: #ffffff;
	font-weight: bold;
	font-size: 1vw;
	margin-bottom: 2%;
}
.activity--box--destination--misc {
	display: inline-block;
	border-radius: 1px;
  	background-color: #a3abb4;
	padding: 1.5% 2%;
	margin-right: 2%;
	color: #ffffff;
	font-weight: bold;
	font-size: 1vw;
	margin-bottom: 2%;
}

/*comments*/
.comment--box {
	padding: 2% 5% 2% 15%;
}
.comment--box--post {
	border-radius: 50px;
    background-color: #a2db68;
    padding: 1.5% 0%;
    width: 12%;
    min-width: 130px;
    font-size: 1.2em;
    white-space: nowrap;
    font-weight: bold;
    text-align: center;
    margin-top: -3%;
    color: #ffffff;
	border: none;
	float: right;
}


/*star ratings*/
#star-rating, #num-stars, #id_rating, #num-stars2 {
	visibility: hidden;
}
#num-stars2 {
	color: #ff0000;
}
.star-rating {
	margin-left: -0.6%;
}
.star-rating2 {
	margin-top: -25%;
	margin-bottom: 25%
}
.star-rating3 {
    margin-top: -2%;
    float: right;
}
#review--count {
    margin-top: -10%;
    margin-left: 20%;
}
#last--container {
	overflow: auto;
}
.review--box {
	border-bottom: 1px solid #e6e6e6;
	padding: 2% 0;
	margin-bottom: 2%;
}
.fa-fw {
    width: 1em;
    text-align: center;
}
.fa {
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
	font-size: 16px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #ff0000;
}

/*profiles*/
#profile--section {
   text-align: center;
	padding: 10%;
}
#profile--section h6 {
   margin-bottom: 10%;
}
#profile--section img {
   border-radius: 200px;
   margin-bottom: 5%;
}
.profile--container {
	padding-top: 5%;
}
.profile--img {
	border-radius: 50%;
}

