{% extends 'base.html' %}
{% load mathfilters %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}

<div>
	<div class="destination-slides">
  	{% for upload in uploads %}
		<div>
			<img src="{{ upload.image.url }}" alt="" height="auto" width="100%" />
		</div>
	{% endfor %}
	</div>
</div>

<div class="row destination">
	<div class="large-8 columns">
		<span class="name--structure"><a href="{% url 'province_detail' slug=destination.province.slug %}" class="name--structure">{{ destination.province }}</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="{% url 'muni_detail' slug=destination.muni.slug %}" class="name--structure">{{ destination.muni }}</a></span>
		<h4 class="destination--name--heading">{{ destination.name }}</h4>
		<h7 class="address">{{ destination.address }}</h7>
		<p class="coords">{{ destination.coords }}</p>
		<p class="posted--by">POSTED BY:</p>
		<p class="posted--by--name">
			<a href="{% url 'profile_detail' profile_id=destination.user.id %}">{{ destination.user }}</a>
		</p>
		<p class="profile--img">{% for profile in profiles %}
					{% if profile.user_id ==  destination.user.id %}
						{% if profile.image %}
						<a href="{% url 'profile_detail' profile_id=destination.user.id %}"><img class="profile--img" src="{{ profile.image.url }}" height="45" width="45" /></a>
						{% else %}
						<a href="{% url 'profile_detail' profile_id=destination.user.id %}"><img class="profile--img" src="{{ MEDIA_URL }}/profiles/default_300x.jpg" height="45" width="45" /></a>
						{% endif %}
					{% endif %}
				{% endfor %}
		</p>
		<div class="star-rating"></div>
		<select id="star-rating">
			<option value="">--</option>
			<option value="5">5</option>
			<option value="4">4</option>
			<option value="3">3</option>
			<option value="2">2</option>
			<option value="1">1</option>
		</select>
		
		<p class="added--by" id="num-stars">
			{{ destination.average_rating | floatformat }}
		</p>
		<p class="added--by" id="review--count--num">{{ destination.review_set.count }} </p>
			<p class="added--by" id="review--count">REVIEW{{ estination.review_set.count|length|pluralize|title  }}</p>
		
		<div class="row">
			<div class="about-line-left"></div>
			<div class="about-center-text">ABOUT</div>
			<div class="about-line-right"></div>
		</div>
		
		<p class="destination--description">{{ destination.description }}</p>
		
		<div class="row">
			<div class="about-line-left"></div>
			<div class="about-center-text">NOTES</div>
			<div class="about-line-right"></div>
		</div>
		
		<div id="tabs">
		  <ul>
			<li><a href="#tabs-1">Review</a></li>
			<li><a href="#tabs-2">Question or Comment?</a></li>
		  </ul>
		  <div id="tabs-1">
			<p class="review--form--title">Post destination review and rating</p>
			{% if not user_posted %}
			<div class="review-container" id="last--container">
				{% if user.is_authenticated %}
					<form action="{% url 'add_review' destination.id %}" method="post">
						{% csrf_token %}
						<div class="review-form">
							{{ form.as_p }}
							<div class="star-rating2"></div>
							<!--<p class="rating--message--form"><strong>Have you visited this destination? Leave a rating, too!</strong></p>-->
						</div>
						
						<input id="reviewInput" class="review--by--post" type="submit" value="Post" />
						{% if messages %}
							{% for message in messages %}
								<p style="color:red;" id="error-message-review">Please add a review and a rating.</p>
							{% endfor %}
						{% endif %}
					</form>
				{% else %}
					<p>Please <a href="{% url 'auth_login' %}">log in</a> to leave a review.</p>
				{% endif %}
			</div>
			{% endif %}
		  </div>
		  <div id="tabs-2">
			<p class="question--form--title">Ask a question or leave a comment</p>
			{% if not user_posted %}
			<div class="review-container" id="last--container">
				{% if user.is_authenticated %}
					<form action="{% url 'add_question' destination.id %}" method="post">
						{% csrf_token %}
						{{ question_form.as_p }}
						<input id="questionInput" class="question--by--post" type="submit" value="Submit" />
						{% if messages %}
							{% for message in messages %}
								<p style="color: red;">Please ask a question or leave a comment.</p>
							{% endfor %}
						{% endif %}
					</form>
				{% else %}
					<p>Please <a href="{% url 'auth_login' %}">log in</a> to leave ask a question or leave a comment.</p>
				{% endif %}
			</div>
			{% endif %}
		  </div>
		</div>

		<!--{{ result_list }}-->
		
		<!--reviews-->
		<div class="review-container">
			{% if destination.review_set.all %}
			<div>				
				<hr>
				{% for review in destination.review_set.all reversed %}
				<div class="review--box reviewId">
					{% for profile in profiles %}
						{% if profile.user_id ==  review.user_name_id %}
							{% if profile.image %}
							 <img class="profile--img" src="{{ profile.image.url }}" height="45" width="45" />
							 {% else %}
							 <img class="profile--img" src="{{ MEDIA_URL }}/profiles/default_300x.jpg" height="45" width="45" />
							 {% endif %}
						{% endif %}
					{% endfor %}
					<p class="added--by--submit"><a href="{% url 'profile_detail' profile_id=review.user_name_id %}">{{ review.user_name }}</a></p>
						{% if review.rating > 0 %}
						<div class="star-rating3" data-score="{{review.rating}}"></div>
						{% else %}
						{% endif %}
					{% for profile in profiles %}
						{% if profile.user_id ==  review.user_name_id %}
							<p class="review--profile-location">{{ profile.location }}</p>
						{% endif %}
					{% endfor %}
					<p class="review--date--pub">{{ review.pub_date }}</p>
					<p class="review--text">{{ review.comment }}</p>
					
					{% if request.user.id == review.user_name_id %}
						<!--<a class="edit_review">Edit</a>-->
						<a class="delete_review" data-reviewId={{ review.id }}>Delete</a>
					{% endif %}
					
					<br>
					<button class="comment--show-hide"><strong>Comment</strong></button>
					<div class="comment--box">
						<div class="commentId" id="review-{{ review.id }}">
						{% for comment in comments  %}

							{% if comment.review_id == review.id %}

								<div class="comment--text" id="comment-{{ comment.id }}">
									{% for profile in profiles %}
										{% if profile.user_id ==  comment.user_id %}
											{% if profile.image %}
											 <img class="comment--profile--img" src="{{ profile.image.url }}" height="45" width="45" />
											 {% else %}
											 <img class="comment--profile--img" src="{{ MEDIA_URL }}/profiles/default_300x.jpg" height="45" width="45" />
											 {% endif %}
										{% endif %}
									{% endfor %}
									<p>{{ comment.text }}</p>
									<p>{{ comment.user }}</p>
									<p>{{ comment.created_date }}</p>
								
									{% if request.user.id == comment.user_id %}
										<!--<a class="edit_review">Edit</a>-->
										<a class="delete_comment" data-commentId={{ comment.id }}>Delete</a>
									{% endif %}
								</div>

							{% endif %}

						{% endfor %}
						</div>
						{% if user.is_authenticated %}
						<form action="{% url 'add_comment_to_review' destination.id review.id %}" method="post">
							{% csrf_token %}
							<div class="comment-form">{{ comment_form.as_p }}</div>
							
							<input id="commentInput" class="comment--box--post" type="submit" value="Comment" />
							<p class="comment-error"></p>
						</form>
						
						{% endif %}
				
					</div>
					
				</div>
				{% endfor %}
			
			</div>
			{% else %}
			<p>No reviews for this destination yet</p>
			{% endif %}
		</div>
		
		<!--questions-->
		<div class="review-container">
			{% if destination.question_set.all %}
			<div>				
				{% for question in destination.question_set.all reversed %}
				<div class="review--box questionId">
					{% for profile in profiles %}
						{% if profile.user_id ==  question.user_name_id %}
							{% if profile.image %}
							 <img class="profile--img" src="{{ profile.image.url }}" height="45" width="45" />
							 {% else %}
							 <img class="profile--img" src="{{ MEDIA_URL }}/profiles/default_300x.jpg" height="45" width="45" />
							 {% endif %}
						{% endif %}
					{% endfor %}
					<p class="added--by--submit"><a href="{% url 'profile_detail' profile_id=question.user_name_id %}">{{ question.user_name }}</a></p>

					{% for profile in profiles %}
						{% if profile.user_id == question.user_name_id %}
							<p class="review--profile-location">{{ profile.location }}</p>
						{% endif %}
					{% endfor %}
					<p class="review--date--pub">{{ question.pub_date }}</p>
					<p class="review--text">{{ question.message }}</p>

					{% if request.user.id == question.user_name_id %}
						<!--<a class="edit_review">Edit</a>-->
						<a class="delete_question" data-questionId={{ question.id }}>Delete</a>
					{% endif %}
					
					<br>
					<button class="comment--show-hide"><strong>Comment</strong></button>
					<div class="comment--box">
						<div class="commentQId" id="question-{{ question.id }}">
						{% for commentq in commentqs  %}

							{% if commentq.question_id == question.id %}

								<div class="comment--text" id="commentQ-{{ commentq.id }}">
									{% for profile in profiles %}
										{% if profile.user_id ==  commentq.user_id %}
											{% if profile.image %}
											 <img class="comment--profile--img" src="{{ profile.image.url }}" height="45" width="45" />
											 {% else %}
											 <img class="comment--profile--img" src="{{ MEDIA_URL }}/profiles/default_300x.jpg" height="45" width="45" />
											 {% endif %}
										{% endif %}
									{% endfor %}
									<p>{{ commentq.text }}</p>
									<p> commented by {{ commentq.user }}</p>
									<p> commented on {{ commentq.created_date }}</p>
								
									{% if request.user.id == commentq.user_id %}
										<!--<a class="edit_review">Edit</a>-->
										<a class="delete_commentq" data-commentQId={{ commentq.id }}>Delete</a>
									{% endif %}
								</div>

							{% endif %}

						{% endfor %}
						</div>
						{% if user.is_authenticated %}
						<form action="{% url 'add_comment_to_question' destination.id question.id %}" method="post">
							{% csrf_token %}
							<div class="commentq-form">{{ commentq_form.as_p }}</div>
							
							<input id="commentqInput" class="comment--box--submit" type="submit" value="Comment" />
							<p class="comment-error"></p>
						</form>
						{% endif %}
				
					</div>
					
				</div>
				{% endfor %}
			
			</div>
			{% else %}
			<p>No questions or comments for this destination yet</p>
			{% endif %}
		</div>
		
	</div>
	<div class="large-4 columns">
		<div class="map"></div>
		<div class="sub-heading--box--container">
			<h6 class="destination--sub-heading">Activities</h6>
			<div class="activities-container"></div>
			<p class="activities-value">{{ destination.activities }}</p>
		</div>
		<div class="sub-heading--box--container">
			<h6 class="destination--sub-heading">Features</h6>
			<div class="features-container"></div>
			<p class="features-value">{{ destination.features }}</p>
		</div>
		<div class="sub-heading--box--container">
			<h6 class="destination--sub-heading">Amenities & Miscellaneous</h6>
			<div class="misc-container"></div>
			<p class="misc-value">{{ destination.misc }}</p>
		</div>
	</div>
</div>

{% endblock content %}