
{% load staticfiles %}

<!--stylesheets-->
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!--scripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>


<div class="register--leftblock">
	<h1>likana</h1>
	<p>Search. Plan. Explore. Enjoy.</p>
	<p>The Best Destinations in the Philippines</p>
</div>
<div class="register--rightblock">
	<div class="position--absolute--rightblock">
		<a href="{% url 'home' %}"><img src="/media/login/exit_login.png" height="75" width="75" /></a>
	</div>
	<h1>Registration Form</h1>
			<form role="form" action="" method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Submit" />
			</form>
</div>

