{% extends 'base.html' %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="row destination">
	<div class="large-8 columns">
<!--
		{% for upload in uploads %}
			<img class="thumbnail" src="{{ upload.image.url }}" alt="" height="300" width="300" />
		{% endfor %}
-->
		
		<img class="thumbnail" src="/media/{{ destination.image }}" height="300" width="300">
		<h5>{{ province.name }}</h5>
		<h7 class="address">{{ province.address }}</h7>
		
	<!--	<a href="#" class="button expanded">Buy</a>-->
		<div class="row">
			<p class="description">{{ province.description }}</p>
			<p class="coords">{{ province.coords }}</p>
		</div>
	</div>
	<div class="large-4 columns">
		<div class="map"></div>
	</div>
	
	{% for muni in province.muni_set.all %}
		<img src ="/media/{{ muni.image }}" />
		<a href="{% url 'muni_detail' slug=muni.slug %}"> {{ muni.name }}, {{ muni.province }}</a> <i>({{ muni.destination_set.all|length }} destination{{ muni.destination_set.all|length|pluralize }}) </i>
	{% endfor %}
</div>

<!--
<div class="row column text-center">
	<h2>Recommended Itineraries</h2>
	<hr>
</div>
-->


{% endblock content %}