{% for destination in destinations %}
	{% if forloop.first %}
	<li class="search--results--li--heading">
		{{ destination.kind }}
	</li>
	{% endif %}
	<a href="{% url 'destination_detail' slug=destination.slug %}"> 
		<li class="search--results--li">
			<img src="/media/{{ destination.image }}" height="40" width="40" />
			<span class="bold--research--text">{{ destination.name }}</span>, {{ destination.muni }}, {{ destination.province }}
		</li>
	</a>
{% endfor %}
			
{% for muni in munis %}
	{% if forloop.first %}
	<li class="search--results--li--heading">
		{{ muni.kind }}
	</li>
	{% endif %}
	<a href="{% url 'muni_detail' slug=muni.slug %}">
		<li class="search--results--li">
			<img src="/media/{{ muni.image }}" height="40" width="40" /> 
			<span class="bold--research--text">{{ muni.name }}</span>, {{ muni.province }}
			<i>({{ muni.destination_set.all|length }} destination{{ muni.destination_set.all|length|pluralize }}) </i>
		</li>
	</a>
{% endfor %}

{% for province in provinces %}
	{% if forloop.first %}
	<li class="search--results--li--heading">
		{{ province.kind }}
	</li>
	{% endif %}
	<a href="{% url 'province_detail' slug=province.slug %}">
		<li class="search--results--li">
			<img src="/media/{{ province.image }}" height="40" width="40" />
			<span class="bold--research--text">{{ province.name }}</span>
		</li>
	</a>
{% endfor %}



