{% load staticfiles %}
<!doctype html>
<html>
    <head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>
			{% block title %}
				likana
			{% endblock title %}
		</title>
		
		<!-- stylesheets -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
		<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
		<link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/star-rating.css' %}">
		<link rel="stylesheet" href="{% static 'css/labs.css' %}">
		
		<!-- scripts -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>
		<script type="text/javascript" src="{% static 'js/google-maps.js' %}"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_B9Chqe56-Wb96kZ7E4wSzeqVj5ypUH4"></script>
    </head>
    <body>
		{% block header %}
		<header>
			<div class="top-bar">
				<div class="top-bar-left">
					<ul class="menu" style="position: relative">
						<li class="menu-text">
							<a href="{% url 'home' %}">likana</a>
						</li>
						<li><img src="http://www.mosms.ir/Images/search.png" height="20" width ="20" /></li>
						<li>
							<form action=""  method="get">
								{% csrf_token %}
							<input id="destination-search" type="text" name="q" placeholder="Search by destination, municipality or province" autocomplete="off">
							</form>
						<li>

						<div id="search-results"></div>

						</li>
					</ul>
				</div>
				<div class="top-bar-right">
					<ul class="menu">
						{% if user.is_authenticated %}
						<li><a href="{% url 'profile_detail' %}">{{ user }}</a></li>
						<li>
							<a href="{% url 'auth_logout' %}">Logout</a>
						</li>
						{% else %}
						<li>
							<a href="{% url 'auth_login' %}">Login</a>
						</li>
						<li>
							<a href="{% url 'registration_register' %}">Register</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</header>
		{% endblock header %}
		
        {% block content %}
		{% endblock content %}
		
        {% block footer %}
		<div class="callout large secondary">
			<div class="row">
				<div class="large-4 columns footer--text">
					<h4>likana</h4>
					<p>Project X is a Philippine-based social website for avid millennial travelers and adventure seekers where they can search and discover natural destinations, plan and share their experiences over the internet.</p>
				</div>
				<div class="large-2 columns footer--column">
					<ul class="menu vertical">
						<li><h6>Our Story</h6></li>
						<li><a href="#">Team</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
				<div class="large-3 columns  footer--column">
					<ul class="menu vertical">
						<li><h6>Follow Us</h6></li>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Instagram</a></li>
					</ul>
				</div>
				<div class="large-3 columns  footer--column last">
					<ul class="menu vertical">
						<li><h6 class="last--h6">Don't want to miss a thing?</h6></li>
						<li><p>Subscribe now to get weekly updates and news.</p></li>
						<li><input type="text" placeholder="Type e-mail address" /></li>
						<a href="#"><p class="email--subscribe--button">Subscribe</p></a>
					</ul>
				</div>
			</div>
		</div>
		{% endblock footer %}
		<script>
		  $(document).foundation();
		</script>
		<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
		<script type="text/javascript" src="{% static 'js/jquery.raty-fa.js' %}"></script>
    </body>
</html>