{% extends 'base.html' %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="hp--primary--gradient--bkgd--orange">
	<div class="primary--text--container">
		<h1>ha<strong>likana</strong></h1>
		<p>Come join us! Search and explore featured destinations <br>here in the Philippines.</p>
	</div>
</div>
<div class="svg--img--container">
	<img src="/media/hp/primary/hp-mountain.svg" />
</div>
<div class="svg--img--container2">
	<img src="/media/hp/primary/hp-beach.svg" />
</div>
<div class="secondary--text--container">
	<p>What activities do you like?</p>
	<div class="activity--box--container">
		<div class="activity--box">
			Swimming
		</div>
		<div class="activity--box">
			Hiking
		</div>
		<div class="activity--box">
			Scuba Diving
		</div>
		<div class="activity--box">
			Surfing
		</div>
		<div class="activity--box">
			Canyoneering
		</div>
	</div>
	<p class="secondary--text--message">It's easy to find places with things to do in likana! Find a destination <br>or see our top recommendations!</p>
</div>
<div class="hp--primary--gradient--bkgd--purple">
	<div class="primary--text--container">
	</div>
</div>

<div class="row column text-center">
	<h4>See Top Destinations</h4>
</div>

<div class="row small-up-1 medium-up-3 large-up-3 top--destinations--row">
	{% for destination in destinations %}
	<div class="column">
		<a href="{% url 'destination_detail' slug=destination.slug %}"><img class="thumbnail" src="/media/{{ destination.image }}" width="370" height="280"></a>
		<h5>
			<a href="{% url 'destination_detail' slug=destination.slug %}">
            	{{ destination.name }}
        	</a>
		</h5>
		<p><a href="{% url 'muni_detail' slug=destination.muni.slug %}">{{ destination.muni.name }}</a>, <a href="{% url 'province_detail' slug=destination.province.slug %}">{{ destination.province.name }}</a>
		</p>
	</div>
	{% endfor %}
</div>


<div class="row column text-center">
	<img src="/media/hp/primary/hp-profiles.svg" />
</div>
<div class="row column text-center">
	<div class="hello--message--container">
		<h4>HELLO THERE</h4>
		<p>Do you love to travel? take photos? seek new adventures?</p>
		<h6>We'd love to talk to you!</h6>
		<p class="hello--contact-button">Send us a hello</p>
	</div>
</div>

{% endblock content %}