{% extends 'base.html' %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="orbit" role="region" aria-label="Favorite Destinations" data-orbit>
	<ul class="orbit-container">
		<button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
		<button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
		<li class="orbit-slide is-active">
			<img src="https://i.ytimg.com/vi/8Orpy_d2HPM/maxresdefault.jpg" height="750" width="2000">
		</li>
		<li class="orbit-slide">
			<img src="https://i.ytimg.com/vi/8Orpy_d2HPM/maxresdefault.jpg">
		</li>
	</ul>
</div>

<div class="row column text-center">
	<h2>Top Destinations</h2>
	<hr>
</div>

<div class="row small-up-1 large-up-3">
	{% for destination in destinations %}
	<div class="column">
		<img class="thumbnail" src="/media/{{ destination.image }}" width="370" height="280">
		<h5>
			<a href="{% url 'destination_detail' slug=destination.slug %}">
            	{{ destination.name }}
        	</a>
		</h5>
		<p><a href="{% url 'muni_detail' slug=destination.muni.slug %}">{{ destination.muni.name }}</a>, <a href="/provinces/{{ destination.province }}">{{ destination.province }}</a></p>
		<a href="#" class="button expanded">Buy</a>
	</div>
	{% endfor %}
</div>

<div class="row small-up-1 large-up-3">
	{% for muni in munis %}
	<div class="column">
		<a href="{% url 'muni_detail' slug=muni.slug %}">{{ muni.name }}</a>
	</div>
	{% endfor %}
</div>

<div class="row small-up-1 large-up-3">
	{% for province in provinces %}
	<div class="column">
		<a href="{% url 'province_detail' slug=province.slug %}">{{ province.name }}</a>
	</div>
	{% endfor %}
</div>

<hr>

<!--
<div class="row column text-center">
	<h2>Recommended Itineraries</h2>
	<hr>
</div>

<div class="row small-up-2 medium-up-2 large-up-4">
	<div class="column">
		<img class="thumbnail" src="http://placehold.it/300x400">
		<h5>Nulla At Nulla Justo, Eget</h5>
		<p>$400</p>
		<a href="#" class="button small expanded hollow">Buy</a>
	</div>
	<div class="column">
		<img class="thumbnail" src="http://placehold.it/300x400">
		<h5>Nulla At Nulla Justo, Eget</h5>
		<p>$400</p>
		<a href="#" class="button small expanded hollow">Buy</a>
	</div>
	<div class="column">
		<img class="thumbnail" src="http://placehold.it/300x400">
		<h5>Nulla At Nulla Justo, Eget</h5>
		<p>$400</p>
		<a href="#" class="button small expanded hollow">Buy</a>
	</div>
	<div class="column">
		<img class="thumbnail" src="http://placehold.it/300x400">
		<h5>Nulla At Nulla Justo, Eget</h5>
		<p>$400</p>
		<a href="#" class="button small expanded hollow">Buy</a>
	</div>
</div>

<hr>
-->

{% endblock content %}