* {
	font-family: Gotham, Poppins, Helvetica;
}
.destination {
	padding: 25px 0 50px;
}
.input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
[type=text], [type=password], [type=date], [type=datetime], [type=datetime-local], [type=month], [type=week], [type=email], [type=tel], [type=time], [type=url], [type=color], [type=number], [type=search], textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    padding: .5rem;
    border: 1px solid #cacaca;
    margin: 0 0 1rem;
    font-family: inherit;
    font-size: 1rem;
    color: #8a8a8a;
    background-color: #fefefe;
    box-shadow: none;
    border-radius: 0;
    transition: box-shadow .5s,border-color .25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type=text]:focus {
    width: 100%;
	box-shadow: none;
	border: none;
}
.top-bar, .top-bar ul {
	background-color: #ffffff;
	padding: 0px;
}
.top-bar input {
    width: 800px !important;
    margin-right: 1rem;
	margin-top: .4rem;
}
.top-bar img {
	margin-right: 5px;
}
.menu > li > a {
    display: block;
    padding: .3rem 2.5rem 0 1rem;
    line-height: 1;
}
.menu input {
    margin-bottom: 0;
    border: none;
}
.menu-text {
    color: inherit;
    line-height: 1;
    padding: .4rem 1rem;
}
.menu-text a {
	color: #687482;
	font-size: 2.4em;
}
.top-bar-right {
    padding-top: 16px;
}
#search-results {
	background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 55px;
    width: 699px;
    z-index: 10;
    left: 200px;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
/*	border-top: 2px solid #a2db68;*/
}
#search-results hr {
	margin-top: -0.1px;
}
.search--results--li {
	padding:5px 30px;
	opacity: 1; 
	font-size: 0.85em;
	margin: 5px 0;
}
.search--results--li--heading {
	color: #a3abb4;
	padding: 10px 30px; 
	opacity: 1; 
	font-size: 0.9em;
	font-weight: bold;
}
.search--results--ul {
	background-color: rgba(255, 255, 255, 1);
	margin-left: 0px !important;
}
.search--results--li {
	color: #687482;
	background-color: #ffffff;
}
.search--results--li:hover {
	color: #ffffff;
	background-color: #a2db68;
}
.search--results--li {
	color: #687482;
	padding-top: 5px;
}
.bold--research--text {
	font-weight: bold;
}
.hp--primary--container {
	position: relative;
}
.hp--primary--gradient--bkgd--orange {
	text-align: left;
	background-image: linear-gradient(to bottom, #fbda61, #f76b1c);
}
.hp--primary--gradient--bkgd--orange > div.primary--text--container {
	padding: 7% 3.5% 4%;
}
.hp--primary--gradient--bkgd--purple {
	text-align: left;
	background-image: linear-gradient(95deg, #29207c, #c96dd8);
}
.hp--primary--gradient--bkgd--purple > div.primary--text--container {
	padding: 7% 3.5% 4%;
	margin-top: -12.5%;
}
.primary--text--container {
	color: #ffffff;
}
.primary--text--container p {
	font-size: 2vw;
}
.secondary--text--container {
	margin-top: -20%;
	margin-bottom: 15.5%;
}
.secondary--text--container p {
	font-size: 1.5vw;
	color: #687482;
	font-weight: bold;
	margin-left: 50%;
}
.svg--img--container {
	position: relative;
	text-align: right;
}
.svg--img--container img {
	width: 60%;
    margin-top: -17%;
    height: auto;
}
.svg--img--container2 {
	position: relative;
	text-align:  left;
	margin-top: 6%;
}
.svg--img--container2 img {
	width: 60%;
    margin-top: 0%;
    height: auto;
}
.activity--box--container {
	margin-left: 50%;
	margin-top: 2.5%;
}
.activity--box {
	display: inline;
	border-radius: 1px;
  	background-color: #57dec0;
	padding: 1.5% 2%;
	margin-right: 2%;
	color: #ffffff;
	font-weight: bold;
	font-size: 1vw;
}
.secondary--text--message {
	font-size: 1.2vw !important;
	line-height: 1.4em;
	font-weight: normal;
	margin-top: 3%;
}
.hello--message--container {
	padding: 5%;
	background-image: linear-gradient(to top, #206cdf, #32b4f5);
	color: #ffffff;
	text-align: center;
	width: 75%;
	margin: auto;
}
.hello--message--container h4, h6 {
	font-weight: bold;
}
.hello--message--container  h6 {
	margin-top: 3%;
}
.text-center > h4 {
	padding-top: 5%;
	padding-bottom: 2%;
	color: #687482;
	font-weight: bold;
}
img.thumbnail {
    border: none;
    box-shadow: none;
    display: inline-block;
    line-height: 0;
    max-width: 100%;
	max-height: 240px;
    transition: box-shadow .2s ease-out;
    border-radius: 0;
    margin-bottom: 1rem;
}
.top--destinations--row {
	margin-bottom: 5%;
}
.top--destinations--row a{
	color: #687482;
	font-weight: bold;
}
.text-center img {
	width: 60%;
}
.hello--contact-button {
	border-radius: 50px;
  	background-color: #a2db68;
	padding: 1% 2%;
	width: 12%;
	min-width: 130px;
	font-size: 0.8em;
	white-space: nowrap;
	font-weight: bold;
	text-align: center;
	margin: 5% auto -2%;
	color: #ffffff;
}


/*footer styles*/
.callout {
    margin: 0;
    padding: 1rem;
    border: 1px solid rgba(10,10,10,.25);
    border-radius: 0;
    position: relative;
}
.callout.secondary {
    background-color: #687482;
}
.footer--text {
	color: #ffffff;
}
.footer--text h4{
	font-weight: bold;
}
.footer--column {
	color: #ffffff;
}
.footer--column .menu a {
	color: #ffffff;
}
.footer--column .menu h6 {
	color: #ffffff;
}
.footer--column .menu h6 {
	padding-left: 16px;
	font-weight: bold;
}
.last--h6 {
	padding-left: 0px !important;
}
.menu.vertical>li>a {
    display: block;
    padding: .3rem 1rem;
    line-height: 1;
}
.email--subscribe--button {
	border-radius: 50px;
  	background-color: #a2db68;
	padding: 2% 2%;
	width: 12%;
	min-width: 130px;
	font-size: 0.8em;
	white-space: nowrap;
	font-weight: bold;
	text-align: center;
	margin-top: 5%;
	color: #ffffff;
}

/*destination page styles*/
.destination-slides img {
	padding-right: 0.5%;
}
.row-destination {
	margin-top: 5%;
}
.name--structure {
	color: #a2db68;
	font-size: 0.9em;
	font-weight: bold;
}
.destination--name--heading {
	margin-top: 2%;
	font-weight: bold;
	color: #687482;
}
.map {
	height: 350px;
	width: 350px;
	background-color: #eee;
	margin-bottom: 5%;
}
.address {
	color: #687482;
}
.posted--by {
	font-size: 0.7em;
	color: #687482;
	font-weight: bold;
	margin-bottom: -2px;
}
.posted--by--name {
	font-size: 0.9em;
	color: #687482;
	font-weight: normal;
}
.description {
	font-size:0.8em; 
	padding-top:3%;
	color: #687482;
}
h6.destination--sub-heading {
	padding-top: 10px;
	color: #687482 !important; 
}

/*reviews*/
.added--by {
	font-size: 0.7em;
	color: #687482;
	font-weight: bold;
	margin-bottom: -2px;
}
.review-container {
	margin-top: 2%;
}

.coords {
	visibility: hidden;
}
.sub-heading--box--container {
	width: 350px;
	background-color: #f1f3f5;
	padding: 2% 5% 2% 5%;
	margin-bottom: 5%;
}
.activities-value {
	visibility: hidden;
}
.features-value {
	visibility: hidden;
}
.misc-value {
	visibility: hidden;
}
.activity--box--destination--activities {
	display: inline-block;
	border-radius: 1px;
  	background-color: #57dec0;
	padding: 1.5% 2%;
	margin-right: 2%;
	color: #ffffff;
	font-weight: bold;
	font-size: 1vw;
	margin-bottom: 2%;
}
.activity--box--destination--features {
	display: inline-block;
	border-radius: 1px;
  	background-color: #9059c1;
	padding: 1.5% 2%;
	margin-right: 2%;
	color: #ffffff;
	font-weight: bold;
	font-size: 1vw;
	margin-bottom: 2%;
}
.activity--box--destination--misc {
	display: inline-block;
	border-radius: 1px;
  	background-color: #a3abb4;
	padding: 1.5% 2%;
	margin-right: 2%;
	color: #ffffff;
	font-weight: bold;
	font-size: 1vw;
	margin-bottom: 2%;
}
ul.errorlist, .errorlist li, .errorlist{
	display: none !important;
}

/*star ratings*/
#star-rating {
	visibility: hidden;
}