{% extends 'base.html' %}
{% block title %}
    {{ profile.name }} - {{ block.super }}
{% endblock title %}

{% block content %}

<div class="profile--container">
	<h2>{{ profile.user.get_full_name }}</h2>
	<ul>
	  <li>{{ profile.user.username }}</li>
	
	  <li>Location: {{ profile.location }}</li>
	  {% if profile.image %}
	  <img class="profile--img" src="{{ profile.image.url }}" height="250" width="250" />
	  {% else %}
	  <img class="profile--img" src="{{ MEDIA_URL }}/profiles/default_300x.jpg" height="250" width="250" />
	  {% endif %}
	
	  {% if request.user.id == profile.user.id %}
		  <ul>
			{% for review in reviews %}
			  <div class="reviewId">
				    <li>{{ review.destination }}</li>
					<li>{{ review.comment }}</li>
					<li>{{ review.rating }}</li>
					{% if request.user.id == profile.user.id %}
				  	<!--<a class="edit_review">Edit</a>-->
					<a class="delete_review" data-reviewId={{ review.id }}>Delete</a>
					{% endif %}
			  </div>
			{% endfor %}
		 </ul>
	  {% endif %}
		
		
	{% for destination in destination_saves %}
		<a href="{% url 'destination_detail' destination.slug %}">{{ destination.name }}
		   <img src="{{ MEDIA_URL }}/{{ destination.image }}" height="100" width="100" /></a>
	{% endfor %}
		
		{{ destination_saves|length }}
		
	</ul>
	{% if request.user.id == profile.user.id %}
	<a href="{% url 'update_profile' %}">Edit Profile</a>
	{% else %}
	
	{% endif %}
	
	
</div>

{% endblock %}



