{% extends 'base.html' %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
<div class="row destination">
	<div class="large-8 columns">
<!--
		{% for upload in uploads %}
			<img class="thumbnail" src="{{ upload.image.url }}" alt="" height="300" width="300" />
		{% endfor %}
-->
		
		<img class="thumbnail" src="/media/{{ destination.image }}" height="300" width="300">
		<h5>{{ muni.name }}</h5>
		<h7 class="address">{{ muni.address }}</h7>
		<p class="description">{{ muni.description }}</p>
		<p class="coords">{{ muni.coords }}</p>
		
	<!--	<a href="#" class="button expanded">Buy</a>-->
		<div class="row">
			<div class="large-2 columns">
				<h6>Accessible by</h6>
				<p class="accessibility">{{ muni.accessibility }}</p>
			</div>
			<div class="large-2 columns">
				<h6>Safety Ratings</h6>
				<p class="safety_ratings">{{ muni.safety_rating }}</p>
			</div>
			<div class="large-2 columns end">
				<h6>Population</h6>
				<p class="population">{{ muni.population }}</p>
			</div>
		</div>
		<div class="row">
			{% for destination in destinations %}
			<a href="{% url 'destination_detail' slug=destination.slug %}"> {{ destination.name }}, {{ destination.province }}</a><br>
			{% endfor %}
		</div>
	</div>
	<div class="large-4 columns">
		<div class="map"></div>
		<div>
			<h6>Features</h6>
			<p class="features">{{ muni.features }}</p>
		</div>
		<div>
			<h6>Activities</h6>
			<p class="activities">{{ muni.activities }}</p>
		</div>
		<div>
			<h6>Amenities & Miscellaneous</h6>
			<p class="misc">{{ muni.misc }}</p>
		</div>
	</div>
</div>

<!-- 
<div class="row column text-center">
	<h2>Recommended Itineraries</h2>
	<hr>
</div>
-->


{% endblock content %}